<a href="https://colab.research.google.com/github/diegovilarim/python/blob/main/Parte2_Aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#np.random.seed(42)
df_logica = pd.DataFrame(np.random.randint(28, size=(100, 1)), columns =['log_acertos'])
df_logica

    log_acertos
0            13
1            15
2             8
3            21
4            22
..          ...
95           24
96           15
97           17
98           26
99            1

[100 rows x 1 columns]

In [4]:
df_portugues = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns = ['port_acertos'])
df_portugues

    port_acertos
0             11
1              7
2             11
3              6
4              3
..           ...
95             9
96            12
97             0
98             5
99            15

[100 rows x 1 columns]

In [5]:
df_java = pd.DataFrame(np.random.randint(8, size = (100, 1)), columns = ['java_acertos'])
df_java

    java_acertos
0              7
1              7
2              7
3              6
4              7
..           ...
95             3
96             1
97             6
98             0
99             6

[100 rows x 1 columns]

In [6]:
df_python = pd.DataFrame(np.random.randint(40, size = (100, 1)), columns = ['py_acertos'])
df_python

    py_acertos
0           26
1           25
2            2
3            0
4           29
..         ...
95          19
96          24
97          31
98           2
99          34

[100 rows x 1 columns]

In [7]:
df_formacao = pd.DataFrame(np.random.randint(2, size= (100, 1)), columns = ['formacao'])
df_formacao

    formacao
0          1
1          0
2          1
3          1
4          1
..       ...
95         1
96         1
97         0
98         0
99         1

[100 rows x 1 columns]

In [8]:
df = pd.concat([df_logica, df_portugues, df_java, df_python, df_formacao], axis = 1)
"""O parÃ¢metro axis especifica a direcÃ§Ã£o ao longo da qual um mÃ©todo ou funÃ§Ã£o em particupar Ã© aplicado num DataFrame.
O parÃ¢metro eixo=0 representa que a funÃ§Ã£o Ã© aplicada em funÃ§Ã£o de coluna, e axis=1 significa que a funÃ§Ã£o Ã© aplicada em funÃ§Ã£o da linha."""

'O parÃ¢metro axis especifica a direcÃ§Ã£o ao longo da qual um mÃ©todo ou funÃ§Ã£o em particupar Ã© aplicado num DataFrame.\nO parÃ¢metro eixo=0 representa que a funÃ§Ã£o Ã© aplicada em funÃ§Ã£o de coluna, e axis=1 significa que a funÃ§Ã£o Ã© aplicada em funÃ§Ã£o da linha.'

In [9]:
df.head(30)

    log_acertos  port_acertos  java_acertos  py_acertos  formacao
0            13            11             7          26         1
1            15             7             7          25         0
2             8            11             7           2         1
3            21             6             6           0         1
4            22             3             7          29         1
5             3            11             0          26         1
6             1            12             1          33         1
7             4            17             6           5         1
8             2             5             0          17         1
9             9            16             3          33         0
10           22            12             2          15         1
11           23             2             2          30         1
12            6             2             7          32         0
13           13             5             1          14         0
14            1             9             5          15         0
15           22             4             1           3         0
16            9            15             2          18         0
17           22             2             6          24         0
18           13             5             1          28         0
19           15            11             2          39         1
20           22            10             2          36         1
21           26             4             3          32         1
22           12             8             5          39         0
23            6             6             4          18         0
24            7            16             1          25         1
25           19             7             6           2         0
26           18             9             2          24         0
27            8            17             6          29         0
28            5             1             1          13         1
29           15             7             6          31         0

In [10]:
x = df[['log_acertos', 'port_acertos', 'java_acertos', 'py_acertos']]

In [11]:
y = df[['formacao']]

In [13]:
from sklearn.model_selection import train_test_split
train_test_split(x, y, test_size = 0.25)

[    log_acertos  port_acertos  java_acertos  py_acertos
 42           25             0             2          26
 2             8            11             7           2
 82           25             4             2          29
 38           27            12             4           0
 65            7             2             0          16
 ..          ...           ...           ...         ...
 41           22            15             5          34
 6             1            12             1          33
 13           13             5             1          14
 57           16             0             3          36
 54           24            14             2           3

 [75 rows x 4 columns],     log_acertos  port_acertos  java_acertos  py_acertos
 4            22             3             7          29
 51           16            12             1          39
 58           27             2             5          23
 20           22            10             2          36
 69           17             8             5          27
 8             2             5             0          17
 21           26             4             3          32
 12            6             2             7          32
 75           10             9             3          31
 53            5            10             0          33
 9             9            16             3          33
 0            13            11             7          26
 31            4             4             2          10
 89           27             4             7           3
 81           20             5             4          34
 68           22             4             4           0
 45           23             6             7           8
 78            2            11             0          33
 30           17            11             5          24
 55           20            13             0          21
 76            1             6             1          37
 15           22             4             1           3
 33           24             3             1          11
 59           22             1             1           8
 84           10             1             7          24,     formacao
 42         0
 2          1
 82         0
 38         0
 65         0
 ..       ...
 41         0
 6          1
 13         0
 57         0
 54         1

 [75 rows x 1 columns],     formacao
 4          1
 51         0
 58         1
 20         1
 69         1
 8          1
 21         1
 12         0
 75         1
 53         0
 9          0
 0          1
 31         0
 89         0
 81         0
 68         1
 45         0
 78         1
 30         0
 55         0
 76         0
 15         0
 33         0
 59         0
 84         0]

In [14]:
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25)
print(treino_x.shape)
print(teste_x.shape)

(75, 4)
(25, 4)

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

Treinaremos com 75 elementos e testaremos com 25 elementos
A acurÃ¡cia foi 56.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

**Precisamos de um teste replicÃ¡vel, por isso, vamos conhecer o SEED. Ã‰ uma definiÃ§Ã£o importante para que nosso teste seja replicÃ¡vel. Faz com que a escolha dos dados nÃ£o seja tÃ£o aleatÃ³ria.**

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi $.2f%%" % acuracia)

Treinaremos com 75 elementos e testaremos com 25 elementos
A acurÃ¡cia foi $.2f%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [25]:
treino_y.value_counts()

formacao
0           45
1           30
dtype: int64